# <font color='brown'>楼 + 机器学习实战</font>

# 挑战：北京市住房价格预测

## 挑战介绍

关于线性回归的实验中，我们以预测波士顿地区房价举例，详细讨论了其实现过程。本次挑战中，你需要运用从线性回归中学习到的相关知识，来预测北京市的住房价格。

## 挑战知识点

- 线性回归原理及应用
- scikit-learn 回归预测

---

## 挑战内容

### 数据集读取与划分

挑战需要下载北京市部分小区的房价数据集，该数据集的名字为 `challenge-1-beijing.csv`。

<div style="color: #999;font-size: 12px;font-style: italic;">* 北京市住房价格数据集来源于：[PENGZhaoqing/scrapy-HousePricing](https://github.com/PENGZhaoqing/scrapy-HousePricing)</div>

In [1]:
# 点击运行下载数据集
!wget http://labfile.oss.aliyuncs.com/courses/1081/challenge-1-beijing.csv

--2018-06-11 00:55:57--  http://labfile.oss.aliyuncs.com/courses/1081/challenge-1-beijing.csv
Resolving labfile.oss.aliyuncs.com (labfile.oss.aliyuncs.com)... 118.178.161.16
Connecting to labfile.oss.aliyuncs.com (labfile.oss.aliyuncs.com)|118.178.161.16|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 166922 (163K) [text/csv]
Saving to: ‘challenge-1-beijing.csv.1’

challenge-1-beijing 100%[===================>] 163.01K   186KB/s    in 0.9s

2018-06-11 00:55:59 (186 KB/s) - ‘challenge-1-beijing.csv.1’ saved [166922/166922]

**<font color='red'>挑战</font>**：使用 Pandas 加载数据集 CSV 文件，并预览前 `5` 行数据。

**<font color='green'>提示</font>**：使用 `pd.read_csv()` 读取 CSV 文件。

In [2]:
"""读取并预览数据集
"""
import pandas as pd

### 代码开始 ### (≈ 2 行代码)
df = pd.read_csv("challenge-1-beijing.csv")
df.head()
### 代码结束 ###

   公交  写字楼  医院  商场  地铁  学校  小区名字  建造时间    房型  楼层  每平米价格   面积
0  18   18  10   0   2  49  远洋山水  2006  2室1厅  26  60937   96
1  17   42  10   0   4  37   椿树园  1998  3室1厅  14  88686  130
2  18   36   9   0   1  24  永乐小区  1989  3室1厅  18  46621   74
3  15   49  13   0   2  45  主语家园  2007  4室3厅   2  86147  462
4   6    0   0   0   0   0  天伦锦城  2007  1室1厅  13  42500   64

<div style="color: #999;font-size: 12px;font-style: italic;"><font color="red">*</font> **挑战说明**：你需要自行补充上方单元格中缺失的代码并运行，如果输出结果和下方的期望输出结果一致，即代表此挑战顺利通过。</div>

**期望输出：**

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>公交</th>
      <th>写字楼</th>
      <th>医院</th>
      <th>商场</th>
      <th>地铁</th>
      <th>学校</th>
      <th>小区名字</th>
      <th>建造时间</th>
      <th>房型</th>
      <th>楼层</th>
      <th>每平米价格</th>
      <th>面积</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>18</td>
      <td>18</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>49</td>
      <td>远洋山水</td>
      <td>2006</td>
      <td>2室1厅</td>
      <td>26</td>
      <td>60937</td>
      <td>96</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>42</td>
      <td>10</td>
      <td>0</td>
      <td>4</td>
      <td>37</td>
      <td>椿树园</td>
      <td>1998</td>
      <td>3室1厅</td>
      <td>14</td>
      <td>88686</td>
      <td>130</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18</td>
      <td>36</td>
      <td>9</td>
      <td>0</td>
      <td>1</td>
      <td>24</td>
      <td>永乐小区</td>
      <td>1989</td>
      <td>3室1厅</td>
      <td>18</td>
      <td>46621</td>
      <td>74</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>49</td>
      <td>13</td>
      <td>0</td>
      <td>2</td>
      <td>45</td>
      <td>主语家园</td>
      <td>2007</td>
      <td>4室3厅</td>
      <td>2</td>
      <td>86147</td>
      <td>462</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>天伦锦城</td>
      <td>2007</td>
      <td>1室1厅</td>
      <td>13</td>
      <td>42500</td>
      <td>64</td>
    </tr>
  </tbody>
</table>

可以看到，该数据集中共包含有 `12` 列。由于线性回归需要输入数值型数据，所以我们选用的特征包括「公交，写字楼，医院，商场，地铁，学校，建造时间，楼层，面积」等 `9` 项，而「每平米价格」则是预测目标值。

**<font color='red'>挑战</font>**：对加载完成的数据集进行划分，分割为特征值 `features` 数据集和目标值 `target` 数据集。

**<font color='green'>提示</font>**：使用 Pandas 选择数据列。

In [3]:
"""将原始数据集切片为所需数据集
"""
### 代码开始 ### (≈ 1 行代码)
features = df[['公交','写字楼','医院','商场','地铁','学校','建造时间','楼层','面积']]
target = df['每平米价格']
### 代码结束 ###

**运行测试：**

In [4]:
pd.concat([features, target], axis=1).head()

   公交  写字楼  医院  商场  地铁  学校  建造时间  楼层   面积  每平米价格
0  18   18  10   0   2  49  2006  26   96  60937
1  17   42  10   0   4  37  1998  14  130  88686
2  18   36   9   0   1  24  1989  18   74  46621
3  15   49  13   0   2  45  2007   2  462  86147
4   6    0   0   0   0   0  2007  13   64  42500

**期望输出：**

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>公交</th>
      <th>写字楼</th>
      <th>医院</th>
      <th>商场</th>
      <th>地铁</th>
      <th>学校</th>
      <th>建造时间</th>
      <th>楼层</th>
      <th>面积</th>
      <th>每平米价格</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>18</td>
      <td>18</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>49</td>
      <td>2006</td>
      <td>26</td>
      <td>96</td>
      <td>60937</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>42</td>
      <td>10</td>
      <td>0</td>
      <td>4</td>
      <td>37</td>
      <td>1998</td>
      <td>14</td>
      <td>130</td>
      <td>88686</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18</td>
      <td>36</td>
      <td>9</td>
      <td>0</td>
      <td>1</td>
      <td>24</td>
      <td>1989</td>
      <td>18</td>
      <td>74</td>
      <td>46621</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>49</td>
      <td>13</td>
      <td>0</td>
      <td>2</td>
      <td>45</td>
      <td>2007</td>
      <td>2</td>
      <td>462</td>
      <td>86147</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2007</td>
      <td>13</td>
      <td>64</td>
      <td>42500</td>
    </tr>
  </tbody>
</table>

将原始 DataFrame 分割为特征值 `features` 和目标值 `target` 之后。我们还需要将这两个 DataFrame 划分为 `70%` 和 `30%` 的训练集和测试集。其中，训练集特征、训练集目标、测试集特征和测试集目标分别定义为：`train_x`, `train_y`, `test_x`, `test_y`。

**<font color='red'>挑战</font>**：将 `features` 和 `target`两个 DataFrame 各划分为 `70%` 和 `30%` 的训练集和测试集。

**<font color='green'>提示</font>**：使用 Pandas 进行 DataFrame 切片。

In [5]:
split_num = int(len(df)*0.7) # 70% 分割数

### 代码开始 ### (≈ 4 行代码)
train_x = features[:split_num]
train_y = target[:split_num]
test_x = features[split_num:]
test_y = target[split_num:]
### 代码结束 ###

**运行测试：**

In [6]:
len(train_x), len(train_y), len(test_x), len(test_y)

(2100, 2100, 900, 900)

**期望输出：**

<div align="center">**`(2100, 2100, 900, 900)`**</div>

可以看到，训练集包含 `2100` 条数据，而测试集包含 `900` 条数据。

### 线性回归模型训练及预测

有了训练和测试数据，下面就可以开始构建机器学习模型。这里直接使用 `scikit-learn` 中的线性回归方法建立模型。

**<font color='red'>挑战</font>**：使用 `scikit-learn` 建立并训练线性回归模型。

**<font color='green'>提示</font>**：`model.fit()` 方法可以用于训练模型。

In [7]:
from sklearn.linear_model import LinearRegression

### 代码开始 ### (≈ 2 行代码)
model = LinearRegression()
model.fit(train_x, train_y)
### 代码结束 ###

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

**运行测试：**

In [8]:
model.coef_[:3], len(model.coef_)

(array([  6.59398431, 299.47265083, 371.60427218]), 9)

**期望输出：**

<div align="center">**`(array([  6.59398431, 299.47265083, 371.60427218]), 9)`**</div>

### 模型评价

在线性回归实验中，我们提供了两种回归预测结果的评价指标，分别是平均绝对误差 $MAE$ 和均方误差 $MSE$。本次挑战中，我们另介绍一种评价指标，那就是**平均绝对百分比误差 $MAPE$**。

$MAPE$ 是 $MAD$ 的变形，它是一个百分比值，因此比其他统计量更容易理解。例如，如果 $MAPE$ 为 $5$，则表示预测结果较真实结果平均偏离 $5%$。$MAPE$ 的计算公式如下：

\begin{equation}
\textrm{MAPE}(y, \hat{y} ) = \frac{\sum_{i=1}^{n}{|\frac{y_{i}-\hat y_{i}}{y_{i}}|}}{n} \times 100 \tag{1}
\end{equation}

其中，$y_{i}$ 表示真实值，$\hat y_{i}$ 表示预测值，$n$ 则表示值的个数。$MAPE$ 的值越小，说明预测模型拥有更好的精确度。

**<font color='red'>挑战</font>**：使用 NumPy 实现 $MAPE$ 计算函数。

**<font color='green'>提示</font>**：`np.abs()` 方法可以用于计算绝对值。

In [9]:
import numpy as np

def mape(y_true, y_pred):
    """
    参数:
    y_true -- 测试集目标真实值
    y_pred -- 测试集目标预测值
    
    返回:
    mape -- MAPE 评价指标
    """
    
    ### 代码开始 ### (≈ 2 行代码)
    n = len(y_true)
    mape = 100 * np.sum(np.abs((y_true-y_pred)/y_true)) / n
    ### 代码结束 ###
    
    return mape

**运行测试：**

In [10]:
y_true = test_y.values
y_pred = model.predict(test_x)
mape(y_true, y_pred)

45.5061885467624

**期望输出：**

<div align="center">**`45.5%`**</div>

可以看到，最终得到的 $MAPE$ 值较大，意味着预测的偏移量较大。在线性回归实验中，我们提到预测结果较差的一个原因可能是数据没有经过预处理。除此之外，线性回归本身就是一种非常基础简单的预测方法。对于房价这种包含多个特征的预测问题，我们往往要使用更复杂的方法来进行回归预测才能得到更好的结果。这也就是后面要学习到的内容。

---

<div style="color: #999;font-size: 12px;font-style: italic;">*本课程内容，由作者授权实验楼发布，未经允许，禁止转载、下载及非法传播。</div>